<mat-card>
  <mat-card-title>{{ formTitle }}</mat-card-title>
  <form class="register-form">
    <app-input
      *ngFor="let input of inputs"
      (changeEvent)="handleChange($event)"
      [value]="userData[input.name]"
      [name]="input.name"
      [type]="input.type"
      [placeholder]="input.placeholder"
    ></app-input>
    <app-textarea
      *ngFor="let textarea of textareas"
      (changeEvent)="handleChange($event)"
      [value]="userData[textarea.name]"
      [name]="textarea.name"
      [placeholder]="textarea.placeholder"
    ></app-textarea>
    <button mat-raised-button color="primary" (click)="handleSubmit()">{{ submitBtnValue }}</button>
  </form>
</mat-card>